/* Variables css */
:root {
  --primary-color: #212529;
  --main-bg: #003153;
  --padding-horizontal: 10%;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: var(--primary-color);
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main-layout {
  display: grid;
  /* 5 columnas de una fraccion */
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  height: auto;
  padding-left: var(--padding-horizontal);
  padding-right: var(--padding-horizontal);
  grid-template-areas:
    /* "header header header header header" */
    "nav nav nav nav nav"
    "advertisement advertisement advertisement advertisement advertisement"
    "content content content content content"
    "content content content content content"
    "footer footer footer footer footer";

  grid-template-rows: auto 250px auto 80px;
  background-color: var(--primary-color);
}

.header {
  grid-area: header;
  background-color: #282c34;
  padding-left: var(--padding-horizontal);
  padding-right: var(--padding-horizontal);
  width: 100%;
}

.nav {
  grid-area: nav;
  background-color: #363a45;
}

.nav-active {
  color: #0393ae !important;
  transition: all 0.3s ease-out !important;
  font-weight: 600 !important;
}

.advertisement {
  grid-area: advertisement;
  /*Evitar que el contenido se salga del carousel*/
  overflow: hidden;
  height: auto;
}

.carousel-item img {
  height: 250px;
  width: auto;
}

.carousel:before,
.carousel:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 80px;
  background: linear-gradient(to top, rgba(33, 37, 41, 1), rgba(0, 0, 0, 0));
}

.content {
  grid-area: content;
  background-color: var(--primary-color);
}

.footer {
  grid-area: footer;
  background-color: black;
  padding-left: var(--padding-horizontal);
  padding-right: var(--padding-horizontal);
}

/* Card */
.card-style {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  background-color: #282c34;
  color: white;
}

.card-product {
  cursor: pointer;
}

.price-text {
  font-size: 20px;
  font-weight: bold;
  color: #ff6d39 !important;
  line-height: 8px;
}

.send-text {
  color: #00a650 !important;
  line-height: 8px;
}

/* Estilos para el texto "Costo de envío" */
.shipping-cost-label {
  text-align: justify;
  font-size: 16px; /* Tamaño de fuente */
  line-height: 4px;
}

/* Estilos para el precio del envío */
.shipping-cost {
  font-size: 18px; /* Tamaño de fuente */
  font-weight: bold; /* Negrita */
}

.register-layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.custom-step {
  background-color: #24566b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  color: #d8f3ff;
  font-weight: bold;
}

/*Slider*/
.slider-container {
  overflow: hidden;
  position: relative;
}

.slider-content {
  display: flex;
  transition: transform 1s ease-in-out;
}

/* Ajusta el tamaño de los controles de navegación */
.arrow-slider {
  font-size: 35px;
  cursor: pointer;
  color: var(--primary-color);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.arrow-slider:hover {
  color: var(--primary-color);
}

.arrow-slider.left {
  left: 0;
}

.arrow-slider.right {
  right: 0;
}

.arrow-container {
  display: flex;
  align-items: center;
}

.arrow-container:first-child {
  justify-content: flex-start;
}

.arrow-container:last-child {
  justify-content: flex-end;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-enter-right {
  animation: slideInFromRight 0.5s ease-in-out forwards;
}

.slide-enter-left {
  animation: slideInFromLeft 0.5s ease-in-out forwards;
}

.slider-content {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

/*End slider*/

.step-active .custom-step {
  background-color: #4ea7cd; /* Cambia el color de fondo cuando está activo */
  /* box-shadow: 0 0 10px rgba(18, 88, 110, 0.5); Resaltado con sombra cuando está activo */
  box-shadow: 0px 5px 5px rgb(0, 0, 0); /* Desplazamiento vertical de 5px para la sombra hacia abajo */
  transition: all 0.3s ease-out !important;
}

.image-welcome {
  background-color: #0393ae;
  border-top-left-radius: 13px; /* Radio de borde solo en la esquina derecha superior */
  border-bottom-left-radius: 13px; /* Radio de borde solo en la esquina derecha inferior */
}

.shadow-down {
  position: absolute;
  top: 75%;
  transform: rotate(-4deg);
  right: 63%;
  width: 20%;
  height: 4rem;
  border-radius: 50%;
  box-shadow: 0px 6px 6px rgb(0, 0, 0); /* Desplazamiento vertical de 5px para la sombra hacia abajo */
}

.forms-steps {
  background-color: #3a404b;
  border-top-right-radius: 13px; /* Radio de borde solo en la esquina derecha superior */
  border-bottom-right-radius: 13px; /* Radio de borde solo en la esquina derecha inferior */
}

.box-skils {
  background-color: #0393ae;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.box-skils span {
  height: auto;
  background-color: #24566b;
}

.icon-button {
  color: white;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  color: inherit;
  font: inherit;
  cursor: pointer; /* Asegura que el cursor sea de tipo puntero */
  outline: none; /* Elimina el borde del botón al enfocarlo */
}

.icon-button:hover {
  cursor: pointer;
  color: white;
}

.color-primay-app {
  background-color: #0393ae;
  border-color: #0393ae;
}

.modal-custom {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1050;
  width: 100%;
  height: 100%;
}

.button-link {
  background: none;
  border: none;
  cursor: pointer; /* Cambia el cursor a una mano */
}


.button-link:focus {
  outline: none; /* Elimina el contorno al enfocar el botón */
}

.icons-nav{
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .forms-steps {
    border-top-right-radius: 0px; /* Radio de borde solo en la esquina derecha superior */
    border-bottom-right-radius: 0px; /* Radio de borde solo en la esquina derecha inferior */
  }

  .icons-nav{
    margin-top: 20px;
  }

  .arrow-slider {
    color: white;
  }

  .arrow-slider:hover {
    color: rgb(170, 170, 170)
  }

  .image-welcome {
    border-top-left-radius: 0px; /* Radio de borde solo en la esquina derecha superior */
    border-bottom-left-radius: 0px; /* Radio de borde solo en la esquina derecha inferior */
  }
}
